In [1]:
#Loading neccesary packages
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [132]:
#Reading Data
df = pd.read_csv('MBA.csv')
print(df.shape)
df.head()

(7500, 20)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
#Since there no column names in the dataset, we'll add the columns manually later, and move the first row to the last, so that we 
#don't miss any records 
df.loc[len(df.index)] = df.columns
print(df.shape)
df.head()

(7501, 20)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
#### Data Cleaning
df.replace(np.nan,0,inplace=True) #replacing nan with 0
print(df.shape)
df.head()

(7501, 20)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [137]:
#### Finding the unique items from the df so, it can be used as our column names
items = []
for i in range(len(df)):
    for j in range(len(df.columns)):
        if(df.iloc[i,j]) == 0:
            pass
        else:
            items.append(df.iloc[i,j])
            
print("Total items purchased :"+str(len(items)))
uniq_items = [*set(items)]
print("Total unique items purchased :"+str(len(uniq_items)))

Total items purchased :29363
Total unique items purchased :120

In [185]:
#### creating the dataset as per the apriori algorithm
new_df = pd.DataFrame(df,columns=uniq_items)
print(new_df.shape)
new_df.replace(np.nan,0,inplace=True) #replacing nan with 0

(7501, 120)

In [187]:
for i in range(len(new_df)):
    for j in range(len(uniq_items)):
        a = new_df.iloc[i,j]
        if (a == 0):
            pass
        else:
            new_df.loc[i,a] = 1
            new_df.iloc[i,j] = 0

In [195]:
#del new_df[1.0]
new_df.to_csv('cleaned_MBA.csv')

In [211]:
new_df = new_df.astype(bool)

In [226]:
#Generatig frequent itemsets
my_frequent_itemsets = apriori(new_df, min_support=0.01, use_colnames=True)

In [233]:
#generating rules
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=0.8)

In [234]:
#viewing top 10 rules
my_rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(escalope),(french fries),0.078523,0.169044,0.016398,0.208829,1.235349,0.003124,1.050285
1,(french fries),(escalope),0.169044,0.078523,0.016398,0.097003,1.235349,0.003124,1.020466
2,(frozen vegetables),(french fries),0.083722,0.169044,0.017064,0.203822,1.205730,0.002912,1.043681
3,(french fries),(frozen vegetables),0.169044,0.083722,0.017064,0.100946,1.205730,0.002912,1.019158
4,(pancakes),(french fries),0.067324,0.169044,0.012798,0.190099,1.124553,0.001418,1.025997
5,(french fries),(pancakes),0.169044,0.067324,0.012798,0.075710,1.124553,0.001418,1.009072
6,(eggs),(french fries),0.108119,0.169044,0.020931,0.193588,1.145193,0.002654,1.030436
7,(french fries),(eggs),0.169044,0.108119,0.020931,0.123817,1.145193,0.002654,1.017916
8,(burgers),(french fries),0.069057,0.169044,0.016798,0.243243,1.438933,0.005124,1.098049
9,(french fries),(burgers),0.169044,0.069057,0.016798,0.099369,1.438933,0.005124,1.033656